<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        body {
            background-color: whitesmoke;
        }
        
        .search {
            margin-left: 500px;
            padding: 20px;
        }
        
        @media only screen and (max-width: 600px) {
            .search {
                margin-left: 0px;
            }
        }
        
        .me-2 {
            width: 250px;
            border: 1px solid black;
        }
        
        .btn {
            border: 1x solid black;
        }
        
        .navbar-brand {
            text-shadow: 1px 1px 1px black;
            font-family: cursive;
        }
        
        img {
            width: 250px;
            height: 250px;
        }
        
        .product {
            text-align: center;
            margin-top: 15vh;
            margin-bottom: 15vh;
        }
        
        .show {
            display: inline-block;
        }
        
        .show:hover {
            border: 1px solid black;
        }
        
        .fimg {
            width: 50px;
            height: 50px;
        }
        
        .container-fluid {
            background-color: lightseagreen;
        }
        
        nav {
            background: lightseagreen;
        }
        
        footer {
            text-align: center;
            padding: 10px;
            background-color: lightseagreen;
            margin-top: 20px;
        }
        
        footer h1 {
            font-family: cursive;
            font-size: 25px;
            text-shadow: 1px 1px 1px black;
        }
        
        p {
            font-size: 15px;
        }
        
        button {
            border: 1px solid black;
            border-radius: 5px;
        }
        
        button:hover {
            background-color: green;
        }
        
        .warning {
            color: red;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SHINDE-SHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Services</a></li>
                            <li><a class="dropdown-item" href="#">Future-plan</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="product">
        <h1>Log-In Account</h1>
        <form action="login" method="post">
            <div class="input">
                <label for="username">Gmail:<input name="username" type="email" required/></label><br/>
            </div><br />
            <div class="input">
                <label for="password">Password :<input name="password" type="password" required/> </label><br />
                <p class="warning">
                    <%= name %>
                </p>
            </div>
            <div class="input">
                <button type="submit">Submit</button>
            </div>
        </form>
        <form action="register" method="get">
            <div>If you do not have account please - <button>Register</button></div>
        </form>
    </div>
    <footer>
        <h1>SHINDE-SHOP</h1>
        <h4>Cotact Us:
            <a href="https://www.facebook.com/ramprasad.shinde.129"><img class="fimg" src="https://img.freepik.com/free-psd/3d-square-with-facebook-logo_125540-1565.jpg?w=740&t=st=1662095759~exp=1662096359~hmac=9ff0d98bdae7d964ef5cd2453258af833fa6cd268d221b652b5165c6398e7815" alt="facebook"></a>
            <a href="https://www.linkedin.com/in/ramprasadshinde/"><img class="fimg" src="https://i0.wp.com/blog.knoldus.com/wp-content/uploads/2014/03/2000px-Linkedin.svg_.png?resize=1024%2C1024&ssl=1" alt="linked-in"></a>
        </h4>
        <h5>We Will Provide You Our Best Services .</h5>
        <p>If Any Query Mail Us On ramshinde2025@gmail.com</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>